- true_up_link = link_to('', 'https://about.gitlab.com/pricing/licensing-faq/')
- billable_users_link = link_to('', help_page_path('subscriptions/self_managed/index', anchor: 'billable-users'), target: '_blank', rel: 'noopener noreferrer nofollow')
- billable_users_updated_string = s_("AdminArea|Updated %{last_update_time}") % { last_update_time: @license.daily_billable_users_updated_time }

.gl-display-grid.gl-sm-grid-template-columns-2.gl-gap-5.gl-mb-6
  = render Pajamas::CardComponent.new(body_options: { class: 'gl-flex-grow-1' }) do |c|
    - c.with_body do
      = _('Users in License')
      %h2.gl-heading-1.gl-line-height-1{ data: { testid: 'users-in-license' } }
        = licensed_users(@license)
      - if @license.will_expire?
        = _('Your license is valid from')
        %strong<>
          = _(' %{start} to %{end}') % { start: @license.starts_at, end: @license.expires_at }
        \.
      %p
        = safe_format(_('The %{true_up_start}true-up model%{true_up_end} allows having more users, and additional users will incur a retroactive charge on renewal.'), tag_pair(true_up_link, :true_up_start, :true_up_end))
        = seats_calculation_message(@license)
    - c.with_footer do
      .gl-font-sm.gl-text-secondary
        = s_("AdminArea|Updated %{last_update_time}") % { last_update_time: @license.updated_at.to_s }

  = render Pajamas::CardComponent.new(body_options: { class: 'gl-flex-grow-1' }) do |c|
    - c.with_body do
      = _('Billable Users')
      %h2.gl-heading-1.gl-line-height-1{ data: { testid: 'billable-users' } }
        = number_with_delimiter @license.daily_billable_users_count
      %p
        = safe_format(_('This is the number of %{billable_users_link_start}billable users%{billable_users_link_end} on your installation, and this is the minimum number you need to purchase when you renew your license.'), tag_pair(billable_users_link, :billable_users_link_start, :billable_users_link_end))
    - c.with_footer do
      .gl-font-sm.gl-text-secondary
        = billable_users_updated_string

  = render Pajamas::CardComponent.new(card_options: { class: 'flex-fill' }, body_options: { class: 'gl-flex-grow-1' }) do |c|
    - c.with_body do
      = _('Maximum Users')
      %h2.gl-heading-1.gl-line-height-1
        = number_with_delimiter @license.maximum_user_count
      %p= _('This is the highest peak of users on your installation since the license started.')
    - c.with_footer do
      .gl-font-sm.gl-text-secondary
        = billable_users_updated_string

  = render Pajamas::CardComponent.new(body_options: { class: 'gl-flex-grow-1' }) do |c|
    - c.with_body do
      = _('Users over License')
      %h2.gl-heading-1.gl-line-height-1
        = number_with_delimiter users_over_license
      - if users_over_license > 0
        = render Pajamas::AlertComponent.new(alert_options: { class: 'gl-mb-3' }, dismissible: false) do |c|
          - c.with_body do
            = s_('Your instance has exceeded your subscription\'s licensed user count.')
      %p= safe_format(_('You\'ll be charged for %{true_up_start}users over license%{true_up_end} on a quarterly or annual basis, depending on the terms of your agreement.'), tag_pair(true_up_link, :true_up_start, :true_up_end))
    - c.with_footer do
      .gl-font-sm.gl-text-secondary
        = billable_users_updated_string
